
a { line-height: .5; }
a { transform: translate(2px, .4px); }
a { line-height: 0.5; }
a { transform: translate(2px, 0.4px); }

@keyframes {$keyframe-name}
  for i in 0..10
    {10% * i}
      opacity (i/10)

for num in (1..5)
  .mt{num}
    margin-top: (num)px

fn(.4)
fn(0.4)
