a { color: #fff; }
a { color: #000; }
a { color: #fff; }

a { color: #fff /**/; }
a { color: fn(#eee, /**/ #eeeeee); }
a { color: fn(#eee, /**/ #eeeeee); }

a
  color #fff
  color #000
  color #fff
  color #fff;
  color #000;
  color #fff;

a
  background url(#eee)
  background url(#EEE)
