
a { top: 1px }
a { top: 1.01px }
a { top: 1px }
a { top: 1.01px }

@keyframes {$keyframe-name}
  for i in 0..10
    {10% * i}
      opacity (i/10)
      opacity (i/10)

for num in (1..5)
  .mt{num}
    margin-top: (num)px

fn(.4)
fn(0.4)

fn(.4)
fn(0.4)
