body {
  color: white;
}

//
//need space
/* comment */

@for i in 0..5
  .foo{i}
    color red

.foo ,.bar
  color red

.foo{
  color red

}.bar{
  color red}
.baz{color:red}
.qux{color:red;
}
@import"foo.styl"

fn(.20)

.warning {
  @extend .message;
  color: #E2E21E;
}

a:Hover
  color red
