body
  color white

//
// need space
// comment

@for i in 0..5
  .foo{i}
    color red

.foo 
.bar
  color red

.foo
  color red

.bar
  color red

.baz
  color red

.qux
  color red

@import "foo.styl"

fn(0.2)

.warning
  @extend .message

  color #e2e21e

.warning
  @extend .message

  color #e2e21e

a:hover
  color red

unknown
  color red

  ^[0] unknown
    color red

body
  font 14px/1.5 Helvetica, arial, sans-serif

  button
  button.button
  input[type='button']
  input[type='submit']
    border-radius 5px

body
  font 14px/1.5 Helvetica, arial, sans-serif

body button
body button.button
body input[type='button']
body input[type='submit']
  border-radius 5px

.foo
  unknown red
