a
  color red
@media (max-width 960px)
  a
    color red

/* "always" */
/* incorrect */
a {color:red;} @media (max-width 960px)
        a
            color red
a
  color red
@media (max-width 960px)
  a
    color red
/* correct */
a
  color red
@media (max-width 960px)
  a
    color red
/* "never" */
/* incorrect */
a
  color red
@media (max-width 960px)
  a
    color red
/* correct */
a {color:red;} @media (max-width 960px)
        a
            color red
a
  color red
@media (max-width 960px)
  a
    color red
