a:Hover {}
a:hover {}
a:HOVER {}

.foo
  &__bar
    width: 10px

    ^[0]:hover &
      width: 20px

    ^[0]:HOVER &
      width: 20px

.block
  &__element
    ~/:hover &
      color: red
    ~/:HOVER &
      color: red

.foo
  .bar
    width: 10px

    &,
    ../ .baz:hover
      height: 10px
    ../ .baz:HOVER
      height: 10px

textarea
input
  color #A7A7A7
  &:hover,
  /.is-hovered:hover
    color #000
  /.is-hovered:HOVER
    color #000

{selector('.a', '.b', '.c, .d')}:hover
  color: red
{selector('.a', '.b', '.c, .d')}:HOVER
  color: red

.foo:HOVER // comment
.bar:hover
  color red


.foo:HOVER, // comment
.bar:hover
  color red


.foo:HOVER
,.bar:hover
  color red
