a
  color: red;

a 
  color: red;
  font-size: 16px;
  font-weight: 500;


a 
    color: red;

a {}

@media screen and (min-width: 600px)
  a
    color: blue;


@media screen and (min-width: 600px) 
  a 
    color: blue;
  

