a { color: #FFF; }
a { color: #000; }
a { color: #FFF; }

a { color: #FFF /**/; }
a { color: fn(#EEE, /**/ #EEEEEE); }
a { color: fn(#EEE, /**/ #EEEEEE); }

a
  color #FFF
  color #000
  color #FFF
  color #FFF;
  color #000;
  color #FFF;

a
  background url(#eee)
  background url(#EEE)
