a
  color: pink;
a
  color: pink
a { color: pink;

}
a { color: pink;
}


@media print {
  a {
    color: aquamarine;
  }

}

@media print {
  a {
    color: aquamarine;
  }
}

@media print
  a
    color: aquamarine;
@media print
  a

    color: aquamarine;

for num in (1..5)
  .mt{num}
    margin-top: (num)px
