a = {}
b = { foo: 1 }
c = { foo: 1, bar: 2 }
d = {
  foo: 1,
  bar: 2
}
e = {
  foo: 1,
  bar: 2
}
f = {
  foo: 1,
  bar: {
    baz: 2
  },

  qux: 3
}
g = {
  foo: 1,
  bar: {
    baz: 2
  },

  qux: 3
}
