a
  color: pink;
a
  color: pink
a { color: pink; } a { color: pink;}
a { color: pink; }a { color: pink;}
a { color: pink;
}a {  color: pink; }
a { color: pink;
} a {  color: pink; }

@for { a { color: pink; }}@for { a { color: pink; } }
@for { a { color: pink; }} @for { a { color: pink; } }

@for
  a
    color: pink;
@for
  a
    color: pink

for num in (1..5)
  .mt{num}
    margin-top: (num)px
