add(a, b)
  a + b

@unknown {}
@unknown
  a
    color red;

@charset "UTF-8";
@CHARSET "UTF-8";
@media (max-width: 960px) {}

@media (max-width: 960px)
  a
    color red;
  
@font-feature-values Font One {
  @styleset {}
}

@my-at-rule "x.css";
@my-other-at-rule
  a
    color red;
@custom
  a
    color red;
